{% extends 'projects_app/base.html' %}
{% block home %}
    <div class="container mt-3">
        <h1 class="display-4 project-title">Projects</h1>
        <table class="table mt-5"> 
            <thead>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Organization/Company</th>
                <th scope="col">Technology Used</th>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <th scope="row"> {{forloop.counter}} </th>
                        <td><a href="{% url 'bug_list' project.id %}">{{project.name}}</a></td>
                        <td>{{project.organization_name}}</td>
                        <td>{{project.technology}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProjectModal{{ project.id }}">
                                <i class="fas fa-trash-alt"></i> Delete
                              </button>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="deleteProjectModal{{ project.id }}" tabindex="-1" aria-labelledby="deleteProjectModalLabel{{ project.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="deleteProjectModalLabel{{ project.id }}">Confirm Deletion</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>Are you sure you want to delete "{{ project.name }}"?</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <form method="post" action="{% url 'delete_project' project.id %}">
                                          {% csrf_token %}
                                          <input type="submit" class="btn btn-danger" value="Delete">
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="flex-container">
            <button type="button" id="add-project" class="mt-5 btn btn-outline-primary" onclick="openprojectform()">add project</button>
        </div>

        <nav class="mt-5 pagination" aria-label="Page navigation">
            {% if projects.has_other_pages %}
                <ul class="pagination">
                    {% if projects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                    {% endif %}
                    
                    {% for i in projects.paginator.page_range %}
                        {% if projects.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if projects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ projects.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% else %}

                        <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>

    </div>
{% endblock home %}